<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.juismi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterIssue" />
        <activity android:name=".IssueDetail" />
        <activity android:name=".EditIssue" />
        <activity
            android:name=".IssuesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BoardsActivity" />
        <activity android:name=".RegisterBoard" />
        <activity android:name=".CalendarActivity"></activity>
    </application>

</manifest>